<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WindowsApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="WindowsApplication1.My.MySettings.B2BConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=Barlov2026;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="WindowsApplication1.My.MySettings.B2BConnectionString2"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=Barlov2026;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="BarlovEntetiesstara" connectionString="metadata=res://*/Barlov2021.csdl|res://*/Barlov2021.ssdl|res://*/Barlov2021.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=BARLOV2022;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Barlov.csdl|res://*/Barlov.ssdl|res://*/Barlov.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=BARLOV2026;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BarlovEntities" connectionString="metadata=res://*/Barlov.csdl|res://*/Barlov.ssdl|res://*/Barlov.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=BARLOV2026;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <WindowsApplication1.My.MySettings>
      <setting name="ImeForme" serializeAs="String">
        <value>prazno</value>
      </setting>
      <setting name="RedUGridu" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="God" serializeAs="String">
        <value>2026</value>
      </setting>
      <setting name="PrinterZaPOS" serializeAs="String">
        <value />
      </setting>
      <setting name="IspisNaEkran" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IspisNaEkranKoverta" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PoslovniProstor" serializeAs="String">
        <value>prazno</value>
      </setting>
      <setting name="Naplatni" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SifraBlagajnik" serializeAs="String">
        <value>prazno</value>
      </setting>
      <setting name="OIBBlagajnik" serializeAs="String">
        <value>prazno</value>
      </setting>
      <setting name="PathCertifikat" serializeAs="String">
        <value>prazno</value>
      </setting>
      <setting name="OIB" serializeAs="String">
        <value>prazno</value>
      </setting>
      <setting name="PassCertifikat" serializeAs="String">
        <value>prazno</value>
      </setting>
      <setting name="Prijavi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="leftmar" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TopMar" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SirinaPrav" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VisinaPrav" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VelFonta" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="BrojStupaca" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BrojRedaka" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TrenutniStupac" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TrenutniRedak" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FormaBoja" serializeAs="String">
        <value>GradientActiveCaption</value>
      </setting>
      <setting name="jedmj" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ZagVirRn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpozorenZakljucak" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PosUkupno" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="Kusur" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Dark" serializeAs="String">
        <value>True</value>
      </setting>
    </WindowsApplication1.My.MySettings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Raverus.FiskalizacijaDEV" publicKeyToken="5483B372E7C94269" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4729.31225" newVersion="2.0.4729.31225" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>